@import url(https://fonts.googleapis.com/css?family=Inconsolata);
body {
background-color: #f0f0f2;
margin: 0;
padding: 0;
font-family: Inconsolata, "DejaVu Sans Mono" , "Bitstream Vera Sans Mono" , monospace;
}
main {
width: 800px;
margin: 5em auto;
padding: 4em;
background-color: #fdfdff;
border-radius: 0.5em;
box-shadow: 2px 3px 7px 2px rgba(0,0,0,0.02);
}
footer {
width: 800px;
background-color: #f0f0f2;
margin: 0 auto 2em auto;
text-align: center;
}
header {
width: 800px;
background-color: #f0f0f2;
margin: 5em auto;
}
a:link, a:visited {
color: #38488f;
text-decoration: none;
font-size: 16px;
}
hr {
border-top: 1px dashed gray;
}
img, canvas {
width: 100%;
height: auto;
border: 2px solid #ccc;
border-radius: 0.5em;
}
label {
font-size: 16px;
border: none; /* Remove borders */
padding: 14px 28px; /* Add some padding */
cursor: pointer; /* Add a pointer cursor on mouse-over */
}
input[type="file"] {
display: none;
font-size: 16px;
}
.btn {
background-color: #04AA6D; /* Green */
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
}

.blue {background-color: #008CBA;} /* Blue */
.red {background-color: #f44336;} /* Red */ 
.gray {background-color: #e7e7e7; color: black;} /* Gray */ 
.black {background-color: #555555;} /* Black */
::-moz-selection {
background: #ccc
}
::selection {
background: #ccc
}
@media (max-width: 700px) {
main, footer {
margin: 0 auto;
width: auto;
}
}
